@model Partner
@{
    ViewData["Title"] = "Create";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <form class="forms-sample" method="post" asp-controller="Partner" asp-action="Create" enctype="multipart/form-data">
                           
                            <div class="form-group">
                                <label for="exampleInputUsername1">Şəkil*</label>
                                <input accept="image/*" asp-for="PartnerImageFile" class="form-control" placeholder="ImageFile">
                                <span asp-validation-for="PartnerImageFile" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Veb Ünvan*</label>
                                <input asp-for="WebAdress" class="form-control" placeholder="https://www.mail.ru/">
                                <span asp-validation-for="WebAdress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">SIRA*</label>
                                <textarea asp-for="Order" class="form-control" placeholder="SIRA"></textarea>
                                <span asp-validation-for="Order" class="text-danger"></span>
                            </div>
                           
                         

                            <button type="submit" class="btn btn-success me-2">Təsdiqlə</button>
                            <button class="btn btn-danger" asp-action="Index">Bağla</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



