@model List<PhotoGallery>
@inject LanguageService language
@{
    ViewData["Title"] = "Index";
}

<!-- banner start -->
<div class="container-fluid p-0">
    <div class="banner">
        <div class="banner-image">
            <img src="/assets/images/banners/gallery.jpg" alt="">
            <div class="container">
                <h3>@language.Getkey("ŞƏKİLLƏR")</h3>
            </div>

        </div>
    </div>
</div>
<!-- banner end -->
<div class="container  gallery-container">
    <div class="title">
        <h2>@language.Getkey("ŞƏKİLLƏR QALEREYASI")</h2>
    </div>
    <div class="tz-gallery">

        <div class="row " data-aos="fade-up">
            @foreach (var photo in Model)
            {
                <div class="col-lg-3">
                    <a class="lightbox" href="/assets/images/@photo.Image">
                        <img src="/assets/images/@photo.Image" alt="şəkil">
                    </a>
                </div>
            }

        </div>

    </div>

</div>

