@model Service
@{
    ViewData["Title"] = "Delete";
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin grid-margin-md-0 stretch-card">
                <div class="card">
                    <div class="card-body">


                        <h4 class="card-title"><img src="~/assets/images/services-detail/@Model.Image" style="width:300px; height:220px" /></h4>

                        <ul class="list-star" style="list-style:none;line-height:2;">
                            <li><span style="color: red;font-weight:600">Xidmətin adı:</span>  @Model.Title</li>
                            <li><span style="color: red;font-weight:600">İşarə: </span>@Html.Raw(Model.Icon)</li>
                            <li><span style="color: red;font-weight:600">Mətn:</span>  @Model.Text</li>
                           


                        </ul>

                        <form method="post" style="text-align:center">
                            <div class="buttons" style="display:inline;">
                                <button class="btn btn-danger " onclick="return confirm('Əminsiniz?');">Ləğv et</button>

                                <button class="btn btn-light ms-3" asp-action="Index">Bağla</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

