@model AddRoleVM
@{
    ViewData["Title"] = "AddRoles";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 stretch-card">
                <div class="card">
                    <div class="card-body">

                        <h4 >VƏZİFƏ ƏLAVƏ ET </h4>

                        <div class="table-responsive pt-3">

                            <form method="post" asp-controller="User" asp-action="AddRoles">
                                <div class="form-group">
                                  
                                    <select class="form-control" style="padding:0;padding-left:5px" asp-for="RoleName">
                                        @foreach (var role in Model.Roles)
                                        {
                                            <option>@role</option>
                                        }
                                    </select>
                                    <span asp-validation-for="RoleName" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Təsdiqlə</button>
                                <button class="btn btn-danger">Bağla</button>
                            </form>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


