@model NewsRun
@{
    ViewData["Title"] = "Update";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <form class="forms-sample" method="post" asp-controller="Ticker" asp-action="Update">
                            <div class="form-group">
                                <label for="exampleInputUsername1">XƏBƏR</label>
                                <textarea asp-for="Announcement" class="form-control " placeholder="MƏTN"></textarea>
                                <span asp-validation-for="Announcement" class="text-danger"></span>
                            </div>
                       

                            <button type="submit" class="btn btn-success me-2">Təsdiqlə</button>
                            <button class="btn btn-danger" asp-action="Index">Bağla</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

