
@model VacancyRequest
@{
    ViewData["Title"] = "Create";
}

<div class="content">
    <div class="login-wrap"style="width:600px">
        <h2>Vakant yer üçün müraciət</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="post" asp-controller="VacancyRequest" asp-action="Create" enctype="multipart/form-data">
            <div class="form">

              
                <span asp-validation-for="Fullname" class="text-danger"></span>
                <input class="vacan" asp-for="Fullname" type="text" placeholder="Ad Soyad Ata adı" />

                <span asp-validation-for="Education" class="text-danger"></span>
                <input class="vacan" asp-for="Education" type="text" placeholder="Təhsil" />
                <span asp-validation-for="Phone" class="text-danger"></span>
                <input class="vacan" asp-for="Phone" type="text" placeholder="Əlaqə nömrəsi" />
                <span asp-validation-for="RequestPosition" class="text-danger"></span>
                <input class="vacan" asp-for="RequestPosition" type="text" placeholder="Vakant olan vəzifə" />
                <span asp-validation-for="PdfFile" class="text-danger"></span>
                <input class="vacan" accept="pdf/*" asp-for="PdfFile" style="margin-left:58px;margin-bottom:35px;" placeholder="CV" />

                <button type="submit" class="acc" style="background-color: #108d01;margin-bottom:0" onclick="return alert('Sizin müraciətiniz göndərildi');"> TƏSDİQLƏ </button>
                <button class="btn btn-light mt-4" asp-controller="Vacancy" asp-action="Index">Bağla</button>
            </div>
        </form>
    </div>
</div>







