@model Contact
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid p-0">
    <div class="banner">
        <div class="banner-image">
            <img src="/assets/images/banners/location.jpg" alt="">
            <div class="container">
                <h3>ƏLAQƏ</h3>
            </div>

        </div>
    </div>
</div>
<!-- banner end -->
<!-- contact start -->
<div class="container">
    <div class="row">
        <div class="map col-lg-8">

            <h4>KLİNİKAMIZIN ÜNVANI</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1494.9908096002953!2d48.79785239257778!3d41.461313984526875!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x69adeb43a7692109!2sN-KAY%20M%20Klinikas%C4%B1!5e0!3m2!1sen!2s!4v1650440038769!5m2!1sen!2s" width="800" height="450" style="border:0;"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
        <div class="col-lg-4 ">
            <div class="contact">
                <h4>ƏLAQƏ VASİTƏLƏRİ</h4>
                <ul>
                    <li>
                        <i class="fas fa-phone-alt"></i>
                        <span>@Model.Phone</span>
                    </li>
                    <li>
                        <i class="fas fa-mobile-alt"></i>
                        <span>  @Model.Mobile</span>
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:@Model.Email"><span>@Model.Email</span></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!-- contact end-->
