@model List<VideoGallery>
@inject LanguageService language
@{
    ViewData["Title"] = "Index";
}

<!-- banner start -->
<div class="container-fluid p-0">
    <div class="banner">
        <div class="banner-image">
            <img src="/assets/images/banners/gallery.jpg" alt="">
            <div class="container">
                <h3>@language.Getkey("VİDEOLAR")</h3>
            </div>

        </div>
    </div>
</div>
<!-- banner end -->
<div class="container">
    <div class="row">
        @foreach (var video in Model)
        {
            <div class="col-lg-4">
                <div class="title">
                    <h5>@language.Getkey(video.Title)</h5>
                </div>
                <div class="video">
                    <video controls>
                        <source src="~/assets/images/gallery-video/@video.Video" type="video/mp4">
                    </video>
                </div>


            </div>
        }


    </div>
</div>

