@model ExperienceAndEducationVM
@{
    ViewData["Title"] = "AddDetails";
}

<div class="container">
    <div class="row">
       
            <h4 style="text-align:center;margin-top:30px;color:red;">TƏHSİL ƏLAVƏ ET</h4>
            <form method="post"  style="text-align:center">
              
                <label>TIP</label><br>
                <input type="text" asp-for="Education.TypeOfUniver"><br>
                <label>AD</label><br>
                <input type="text" asp-for="Education.NameOfUniver"><br>
                <label>FAKULTƏ</label><br>
                <input type="text" asp-for="Education.Specialty"><br>
                <label>MÜDDƏT</label><br>
                <input type="text" asp-for="Education.StartUniver" ><br>
                <label>ÖLKƏ</label><br>
                <input type="text" asp-for="Education.Country"><br>



                <h4 style="text-align:center;margin-top:10px;color:red;">TƏCRÜBƏ ƏLAVƏ ET</h4>

                <label>İŞ YERİ</label><br>
                <input type="text"><br>
                <label>BÖLÜM</label><br>
                <input type="text"><br>
                <label>İXTİSAS</label><br>
                <input type="text"><br>
                <label>MÜDDƏT</label><br>
                <input type="text"><br>
                <label>ÖLKƏ</label><br>
                <input type="text"><br><br>

                <button class="btn btn-primary" type="submit" style="width:14%">Əlavə et</button>
            </form>
        </div>
   
   
      
    
</div>



