@model Vacancy
@{
    ViewData["Title"] = "Update";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <form class="forms-sample" method="post" asp-controller="Vacancy" asp-action="Update">
                            <div class="form-group">
                                <label for="exampleInputUsername1">VƏZİFƏ</label>
                                <input asp-for="Position" class="form-control " placeholder="VƏZİFƏ">
                                <span asp-validation-for="Position" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">CİNS</label>
                                <input asp-for="Gender" class="form-control" placeholder="CİNS">
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">TƏHSİL</label>
                                <input asp-for="Education" class="form-control" placeholder="TƏHSİL"></input>
                                <span asp-validation-for="Education" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">TƏCRÜBƏ</label>
                                <input asp-for="Experience" class="form-control" placeholder="TƏCRÜBƏ"></input>
                                <span asp-validation-for="Experience" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">İŞ VAXTI</label>
                                <input asp-for="WorkTime" class="form-control" placeholder="08 00-18 00"></input>
                                <span asp-validation-for="WorkTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">İŞ GÜNLƏRİ</label>
                                <input asp-for="WorkDays" class="form-control" placeholder="I-VI"></input>
                                <span asp-validation-for="WorkDays" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-success me-2">Təsdiqlə</button>
                            <button class="btn btn-danger" asp-action="Index">Bağla</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


